name: "Render Github Pages"
on:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
    
jobs:
  launch:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.TARGET_PAT }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/studsovet-imct/studsovet-imct.github.io/actions/workflows/pages-deploy.yml/dispatches \
            -d '{"ref":"main","inputs":{"trigger":"new_post_release"}}'